<app-header></app-header>
<main class=" d-flex justify-content-center align-items-center container " >
    <div class="cards mb-5 mt-5  d-flex justify-content-center align-items-center " >
        
           <form class="m-5 " style="color: black;">
            <h2 style="font-size: 50px;">REGISTRATÉ AQUI</h2>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label  mt-3" style="color: black;">DNI</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label  mt-3" style="color: black;">Nombre</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
             
            </div>
          
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label  mt-3" style="color: black;">Apellido</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
              </div>
              
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label  mt-3" style="color: black;">Correo electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
              </div>
          
           
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label  mt-3" style="color: black;">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label  mt-3" style="color: black;">Confirmar contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              
            <button type="submit" class="btn btn-primary ">REGISTRAR USUARIO</button>
          </form>
          <div  >  
            <img  src="../../../assets/Contenido/fondo.png" alt="" >
          </div>
        
    </div>
      
</main>
<app-footer></app-footer>

