<header style="background-color: #295F98 ">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid d-flex justify-content-between">
                <!-- Parte del Logo  -->
                <div class="d-flex align-items-center">
                    <img src="assets/Contenido/logo.png" alt="Logo" style="height: 50px;">
                    
                </div>
                  <!-- Parte del nombre -->
                <a class="navbar-brand ms-2">
                    <h2 class="mt-2 text-white">COSTEÑO EXPRESS</h2>
                </a>
                <!-- Parte derecha: Íconos y menú desplegable -->
                <div class="d-flex align-items-center justify-content-between">
                    <a class="nav-link active">
                        <i class="bi bi-person-circle text-white" style="font-size: 35px;"></i>
                    </a>
                    <div class="dropdown contenido-derecha mx-5">
                        <div>
                            <strong class="user-name text-white">Hola!</strong>
                        </div>
                        <a class="etiqueta dropdown-toggle d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                            <span class="user-name text-white">Inicia Sesión</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Inicia Sesión</a></li>
                            <li><a class="dropdown-item">Regístrate</a></li>                        
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
